# Project -  Data Preparation I

This is the second part of the AC data mining project. In this notebook, you will find the proccess of data preparation consisting in merging some of the tables, access data quality, outlier treatment and feature engineering.

## Import of the needed packages

In [4]:
import pandas as pd

In [ ]:
#Carregando os valores do dataset
base = pd.read_csv('quinto_andar_transformed_data.csv')

#Mostrando as 5 primeiras linhas do dataset
base.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>url</th>
      <th>bairro</th>
      <th>aluguel</th>
      <th>condominio</th>
      <th>iptu</th>
      <th>seguro_incendio</th>
      <th>taxa_serviço</th>
      <th>total</th>
      <th>metragem</th>
      <th>quarto</th>
      <th>banheiro</th>
      <th>vaga_carro</th>
      <th>andar</th>
      <th>aceita_pet</th>
      <th>mobilia</th>
      <th>metro_prox</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>https://www.quintoandar.com.br/imovel/89332996...</td>
      <td>Liberdade</td>
      <td>1900.0</td>
      <td>424.0</td>
      <td>5.0</td>
      <td>25.0</td>
      <td>38.0</td>
      <td>2392.0</td>
      <td>57.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>18.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>https://www.quintoandar.com.br/imovel/89334069...</td>
      <td>Santa Cecília</td>
      <td>1190.0</td>
      <td>460.0</td>
      <td>0.0</td>
      <td>16.0</td>
      <td>23.0</td>
      <td>1689.0</td>
      <td>56.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>11.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>https://www.quintoandar.com.br/imovel/89333859...</td>
      <td>Aclimação</td>
      <td>2330.0</td>
      <td>450.0</td>
      <td>5.0</td>
      <td>30.0</td>
      <td>46.0</td>
      <td>2861.0</td>
      <td>48.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>10.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>https://www.quintoandar.com.br/imovel/89337065...</td>
      <td>Liberdade</td>
      <td>1850.0</td>
      <td>418.0</td>
      <td>6.0</td>
      <td>24.0</td>
      <td>37.0</td>
      <td>2335.0</td>
      <td>44.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>https://www.quintoandar.com.br/imovel/89337700...</td>
      <td>Vila Guilherme</td>
      <td>2200.0</td>
      <td>392.0</td>
      <td>10.0</td>
      <td>28.0</td>
      <td>44.0</td>
      <td>2674.0</td>
      <td>62.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>8.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
#Verificando as informações do dataset
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2775 entries, 0 to 2774
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              2775 non-null   object
 1   bairro           2775 non-null   object
 2   aluguel          2775 non-null   float64
 3   condominio       2768 non-null   float64
 4   iptu             2767 non-null   float64
 5   seguro_incendio  2775 non-null   float64
 6   taxa_serviço     2775 non-null   float64
 7   total            2775 non-null   float64
 8   metragem         2775 non-null   float64
 9   quarto           2775 non-null   float64
 10  banheiro         2775 non-null   float64
 11  vaga_carro       2775 non-null   float64
 12  andar            2775 non-null   float64
 13  aceita_pet       2775 non-null   float64
 14  mobilia          2775 non-null   float64
 15  metro_prox       2775 non-null   float64
dtypes: float64(14), object(2)
memory usage: 347.0+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2775 entries, 0 to 2774
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   url              2775 non-null   object 
 1   bairro           2775 non-null   object 
 2   aluguel          2775 non-null   float64
 3   condominio       2768 non-null   float64
 4   iptu             2767 non-null   float64
 5   seguro_incendio  2775 non-null   float64
 6   taxa_serviço     2775 non-null   float64
 7   total            2775 non-null   float64
 8   metragem         2775 non-null   float64
 9   quarto           2775 non-null   float64
 10  banheiro         2775 non-null   float64
 11  vaga_carro       2775 non-null   float64
 12  andar            2775 non-null   float64
 13  aceita_pet       2775 non-null   float64
 14  mobilia          2775 non-null   float64
 15  metro_prox       2775 non-null   float64
dtypes: float64(14), object(2)
memory usage: 347.0+ KB

É possivel verificar que temos 16 colunas e 2775 linhas no total. Porém, nas colunas condominio e iptu temos menos linhas. Vamos verificar o que se passa

In [7]:
#Verificar se tem valores nulos
base.isnull().sum()

url                0
bairro             0
aluguel            0
condominio         7
iptu               8
seguro_incendio    0
taxa_serviço       0
total              0
metragem           0
quarto             0
banheiro           0
vaga_carro         0
andar              0
aceita_pet         0
mobilia            0
metro_prox         0
dtype: int64

É possível verificar que na coluna condominio e iptu temos 7 e 8 valores nulos respectivamente

url                0
bairro             0
aluguel            0
condominio         7
iptu               8
seguro_incendio    0
taxa_serviço       0
total              0
metragem           0
quarto             0
banheiro           0
vaga_carro         0
andar              0
aceita_pet         0
mobilia            0
metro_prox         0
dtype: int64